 body {
   padding: 50px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }

 #messages {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 #messages li:nth-child(odd) {
   background: #eee;
 }